@*Name: Pushpa Dhakal, Course: C# .NET
    Code Louisville @ Bellarmine University, Mondays 6:00PM to 8:00PM
    Spring 2020
    Instructor: Steve England*@


@model IEnumerable<CollegeListOfAmerica.Models.InstituteCampuses_>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @*This will display the columns' names*@
    <tr>
        <th>

            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            Phone Number
           
        </th>
        @*<th>
            College ID
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        //this will display the data values in rows.
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.CollegeID)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CollegeID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CollegeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CollegeID })
            </td>
        </tr>
    }

</table>
